<!DOCTYPE html>
<html lang="en">

<head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">

</head>

<body>
    <div class="login">
        <div class="main">
            <h1> CROP <span>Perdiction</span> Model</h1>
            <form action="{{url_for('predict')}}" method="post">
                <input type="text" name="Nitrogen" placeholder="Nitrogen" required="required">
                <input type="text" name="Phosphorus" placeholder="Phosphorus" required="required">
                <input type="text" name="Potassium" placeholder="Potassium" required="required">
                <input type="text" name="Temperature" placeholder="Temperature" required="required">
                <input type="text" name="Humidity" placeholder="Humidity" required="required">
                <input type="text" name="pH_Value" placeholder="pH_Value" required="required">
                <input type="text" name="Rainfall" placeholder="Rainfall" required="required">

                <button type="submit" class="btn btn-primary bn-block btn-large">Predict</button>
            </form>


            <h1 id="predi">
                {{prediction_text}}
            </h1>
        </div>
    </div>
</body>

</html>